
/* //Routind -- diferentes pages. */
.Blog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
/* Para que cuando este en la pagina NewPosts los botones queden estatico en color naranja. con el nuevo NavLink en Blog.js */
.Blog a.active {
    color:#fa923f;
}