.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    /* Para desplazar  overflow y no superponernos o cortamos los 250px. */
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
/* 
Los media son consultas para garantizar que la hamburguesa se vea bien en tantos puntos de vista. */

/* Para que la clase Burger se ajuste si llega a los 1000px  */
@media (min-width: 1000px) and (min-height: 700px){
    .Burger{
        width: 700px;
        height: 600px;
    }
}

/* Para que la clase Burger se ajuste si llega a los 500px  */
@media (min-width: 500px) and (min-height: 401px){
    .Burger{
        width: 450px;
        height: 400px;
    }
}

/* Para que la clase Burger se ajuste si llega a los 450x  */
@media (min-width: 500px) and (min-height: 400px){
    .Burger{
        width: 350px;
        height: 300px;
    }
}